body {
  background-image: url("https://www.google.co.in/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiv94WZ8PjcAhWMQo8KHToTCfsQjRx6BAgBEAU&url=https%3A%2F%2Fwww.pexels.com%2Fsearch%2Fbackground%2F&psig=AOvVaw3R1YcQJ9vSEKgQBOUy-XO4&ust=1534759870795741")
}
.hideOperations {
  display: none;
}

.displayOperations {
  display: block;
}

.editor-area {
  overflow: hidden;
  float: left;
}

.controls {
  width: 100px;
  overflow: hidden;
  float: right;
  position: relative;
}

.canvas-bg-wrapper {
  position: relative;
  width: 600px;
  height: 560px;
}

.canvas-bg {
  position: absolute;
}

.canvas-container {
  top: 75px;
  left: 155px;
  border-style: solid;
border-width: 19px 22px 22px 19px;
-moz-border-image: url(https://drive.google.com/uc?export=view&id=0B3ubyt3iIvkabEZhbkJseW5IZWc) 19 22 21 19 round;
-webkit-border-image: url(https://drive.google.com/uc?export=view&id=0B3ubyt3iIvkabEZhbkJseW5IZWc) 19 22 21 19 round;
-o-border-image: url(https://drive.google.com/uc?export=view&id=0B3ubyt3iIvkabEZhbkJseW5IZWc) 19 22 21 19 round;
border-image: url(https://drive.google.com/uc?export=view&id=0B3ubyt3iIvkabEZhbkJseW5IZWc) 19 22 21 19 round;
}

#c {
  position: relative;
}